body {

    margin:0;

    background:black;

    overflow:hidden;

}

#background {

    position:fixed;

    width:100%;

    height:100%;

    object-fit:cover;

    z-index:-10;

}

#candle {

    position:absolute;

    left:50px;

    top:50px;

    width:200px;

}

#books {

    position:absolute;

    left:300px;

    top:500px;

    width:250px;

}

#feather {

    position:absolute;

    right:100px;

    top:100px;

    width:200px;

}

h1 {

    position:absolute;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    color:#d8c29d;

}
